.data-import-section {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px greenyellow;
    margin-bottom: 20px;
    background-color: beige; /* Light gray background */
    text-align: center; /* Center-align content */
    max-width: 40%;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="file"] {
    width: auto; 
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto; 
}

.list-group {
    margin-bottom: 15px;
}

.list-group-item {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-top: 5px;
}

.btn-primary {
    width: auto; /* Button takes the necessary width */
    padding: 10px 20px; /* Adjust padding as needed */
    border-radius: 4px;
    font-size: 16px;
    color: white;
    background-color: greenyellow;
    border-color: greenyellow;
    cursor: pointer;
    display: inline-block; /* Display as inline block to center */
}

.btn-primary:hover {
    background-color: greenyellow;
    border-color: greenyellow;
}

/* This will style the file input to look more in line with the rest of the form */
.custom-file-input {
    cursor: pointer;
}

/* Style adjustments for responsiveness */
@media (max-width: 768px) {
    .btn {
        display: block;
        width: auto; /* Adjust width for smaller screens */
        margin-bottom: 10px;
    }
}