.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Razdvaja control-panel i chart-container */
    width: 100%;
    height: 100vh; /* Puni ekran po visini */
    background-image: url('C:\Users\Centar\Documents\ISIS-Milica\UI\pic.jpg'); /* Putanja do pozadinske slike */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative; /* Postavljanje wrapper-a kao relativno pozicioniranog */
}

.control-panel {
    position: absolute; /* Apsolutno pozicioniranje unutar wrapper-a */
    right: 0; /* Poravnato sa desnom stranom */
    top: 0; /* Poravnato sa vrhom */
    width: 50%; /* Zauzima desnu polovinu ekrana */
    height: 100%; /* Punidisplay: flex;
    flex-direction: column;
    align-items: flex-end; / Poravnavanje form-group elemenata na desno */
    padding: 10px;
    }

    .form-group {
        width: 40%; 
        margin: 5px;
        align-items: center;
        box-shadow: 0 0 10px greenyellow;
        
        padding: 15px;
        background-color: beige;
        }
        
        .chart-container {
        position: absolute; 
        top: 0;
        right: 45; 
        width: 50%;
        height: 50%;
        z-index: 1;
        }
        
        .btn-primary {
            background-color: greenyellow; 
            border: none; 
            padding: 10px 20px; 
            font-size: 16px; 
            font-weight: bold;
            color: white; 
            border-radius: 5px; 
            cursor: pointer; 
            transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s; 
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
            text-transform: uppercase; 
        }
        
        .btn-primary:hover {
            background-color: greenyellow; 
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
            transform: translateY(-2px); 
        }
        
        .btn-primary:active {
            background-color: #004085; 
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
            }

        .btn-primary:focus {
                outline: none; 
                }
                .form-group input[type="date"] {
                    width: 80%;
                    padding: 10px;
                    border-radius: 4px;
                    border: 1px solid #ddd;
                    font-size: 16px;
         }
         .form-group{
            width: 40%;
            padding: 6px;

         }
        .form-control{
            width: 80%;
            
        }  
    .your-image-class{

    }